* {
    box-sizing: border-box;
}

vaadin-grid {
    height: 75vh;
    width: 49%;
}

#map {
    width: 50%;
    height:75vh;
}

.page-header {
    font-size: 2em;
    padding: 0.3em;
    background-color: cornsilk;
    color: darkblue;
}

.heading {
    padding: 1vh 5vw;
    margin-top: 1vh;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 5vh;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    text-align: left;
}

/*Grid rendering */
/*noinspection CssNoGenericFontName*/
.vaadin-icon {
    font-family: Vaadin-Icons;
}

.icon {
    padding: 0.2em; font-size: 200%;
    color: dodgerblue;
}

.or {
    font-style: italic;
    color: darkslategray!important;
}
.page-content {
    display: flex;
    flex-flow: row nowrap;
}

.details a {
    text-decoration:none;
}

.details div {
    color: darkslategray;
}
.details div span {
    color: sienna;
}

.details-name {
    font-size: 130%;
    font-weight: bold;
    color: darkgreen;
}

.details-type {
    color: darkslateblue ;
    font-weight: bold;
}

/*Workaround - invisible scrolls*/
vaadin-grid > div > div.vaadin-grid.style-scope.vaadin-grid-scroller.vaadin-grid-scroller-vertical {
    visibility: visible!important;
    width: 20px!important;
}

vaadin-grid > div > div.vaadin-grid.style-scope.vaadin-grid-scroller.vaadin-grid-scroller-horizontal {
    visibility: visible!important;
    height: 20px!important;
}
/*End of Workaround*/
